
.welcome-header {
    display: flex;
    flex-direction: column;
    margin: 90px 0px;
    align-items: center;
}
.welcome-header__title {
    margin-bottom: 30px;
    font-size: 25px;;
    font-weight: 600;
}
.welcome-header__text {
    width: 70%;
    color: #828282;
    text-align: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    padding: 20px 0px;
    border: none;
    transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
    color: #828282;;
}
#login-form input[type="text"]{
    border-bottom: #828282 1px solid;
    font-size: 20px;
}
#login-form input[type="password"]{
    border-bottom: 1px solid #828282;
    font-size: 20px;
    color: #828282;
    margin: 10px 0px 35px 0px;;
}
#login-form input[type="submit"]{
    margin: 10px 0px;
    background-color: var(--yellow);
    font-size: 20px;
    color:black;
    cursor: pointer;
    border-radius: 5px;
}
#login-form input:focus {
    border-color: var(--yellow);
}
#login-form a {
    margin-top: 10px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}