.friends-screen {
    padding: 0px var(--horizontal-space);
}
.screen-header {
    margin: 45px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen-header__title:first-child {
    font-size: 30px;
    font-weight: 900;
}
.screen-header__tools i {
    padding: 0px 10px;
}
.screen-header__dot {
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 4%;
}
.screen-header__back {
    margin-left: 15px;
}
.screen-header__title-setting {
    font-size: 22px;
    font-weight: 600;
}
.screen-header-conversation {
    margin: 0px;
    padding: 45px 10px 20px 10px;
    background-color: #ABC1D1;
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}
.screen-header-conversation div {
    width: 33%;
}
.screen-header-conversation .screen-header__tools {
    display: flex;
    justify-content: flex-end;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}
.screen-header__tools .fa-cog:hover {
    animation: rotateCog 1s linear infinite;
}